button {
  font-size: 30px;
  background: #eeeeee;
  border-radius: 50%;
  border: 1px solid transparent;
  &.equal {
    border-radius: 50px;
    background-color: orange;
    color: white;
    grid-row: 6;
    grid-column: 3 / span 2;
  }
  &.operator,
  &.clear {
    color: #4885f4;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #4885f4;
  }
}
